body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: white;
  line-height: 1.75;
  font: arial, sens-serif; }
  body .site-header {
    min-height: 655px;
    height: 100vh;
    background-color: #E4E2E7; }
    body .site-header .top-line {
      padding-top: 40px;
      width: 100%;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      flex-direction: row; }
      body .site-header .top-line nav {
        font-family: 'Lato', sans-serif;
        font-size: 44px;
        display: block;
        position: absolute;
        top: 16px;
        right: 45px; }
        body .site-header .top-line nav ul {
          list-style: none;
          float: right;
          margin: 0; }
          body .site-header .top-line nav ul li {
            float: left;
            padding: 15px; }
            body .site-header .top-line nav ul li a {
              text-decoration: none;
              color: #99d9ea; }
          body .site-header .top-line nav ul li:hover {
            cursor: pointer;
            border-bottom: 1px solid #ED1C24;
            transition: .25s; }
            body .site-header .top-line nav ul li:hover a {
              color: #00A2E8; }

.h1 {
  line-height: 1.4; }

.logo img {
  width: 50px;
  margin-left: 45px; }

header {
  background-size: cover;
  background-position: center; }

.header-flex {
  display: flex;
  height: 85%;
  position: relative;
  top: 0;
  color: white; }

.flex-center {
  margin: auto; }

.header-composition {
  text-align: center;
  position: relative;
  background-color: rgba(153, 217, 234, 0.2);
  padding: 30px; }
  .header-composition p {
    margin-top: 40px; }

.header-composition:hover {
  cursor: default; }

.welcome p.hithere {
  font-size: 24px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 0; }
  .welcome p.hithere span {
    margin: 0 10px; }
  .welcome p.hithere::before, .welcome p.hithere::after {
    content: '';
    height: 1px;
    width: 100%;
    position: relative;
    background-color: #FFF; }
