body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

#sidebar {
  width: 0; /* 0 ширина - изменить это с помощью JavaScript */
  position: fixed; /* Оставайтесь на месте */
  z-index: 1; /* Оставайтесь сверху */
  top: 0; /* Оставайтесь наверху */
  bottom: 0;
  right: 0;
  background-color: #eee; /* Фон черный*/
  overflow-x: hidden; /* Отключить горизонтальную прокрутку */
  padding-top: 60px; /* Поместите контент в 60px сверху */
  transition: 0.5s; /* 0.5 второй эффект перехода слайда в боковой навигации */
}

#sidebar:-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar {
  /* chrome based */
  width: 0px; /* ширина scrollbar'a */
  background: transparent; /* опционально */
}

#sidebar .closeSidebar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.container {
  margin: 0 15px;
}

.openSidebar {
  display: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  position: fixed;
  right: 25px;
  top: 15px;
  padding: 15px;
  border-radius: 50%;
  background: rgb(64, 199, 129);
  transition: 0.2s;
}

.openSidebar:hover {
  background: rgb(53, 167, 110);
}

.openSidebar:active {
  background: rgb(33, 147, 90);
  box-shadow: 0 3px rgb(33, 147, 90) inset;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.invalidJson {
  color: red;
}

.error {
  border: 2px solid red;
}

.loader {
  position: absolute;
  top: 40%;
  right: 45%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.config_button {
  background: #efb848;
  font-size: 14px;
  cursor: pointer;
  border-radius: 25px;
  padding: 8px 15px;
  outline: none;
  border: none;
  color: white;
}

.config_button:hover {
  filter: brightness(0.9);
}

.collapse_button {
  background: #3c59a0;
  cursor: pointer;
  border-radius: 25px;
  padding: 8px 15px;
  outline: none;
  border: none;
  color: white;
}

.config_button:hover {
  filter: brightness(0.9);
}

h5 {
  display: inline;
}

.bigwinDuration {
  width: 60px;
}

.particleControls table {
  min-width: 144px;
  text-align: center;
}
.particleControls input {
  width: 55px;
}

.particleControls .property_header .customFile {
  width: 100%;
}

.alphaPopup,
.scalePopup,
.colorPopup,
.accelerationXPopup,
.accelerationYPopup,
.rotationSpeedPopup,
.speedPopup {
  display: none;
  margin: 5px;
  padding: 5px;
  background-color: #dfdfdf;
}

summary {
  outline: none;
  cursor: pointer;
}

.emissionRectangle,
.emissionRing,
.emissionCircle,
.emissionBurst {
  display: none;
}

.property_header {
  margin-bottom: 15px;
}

.property_header > summary {
  font-size: x-large;
}

.property_header > details {
  padding-left: 15px;
}

.sliderComplex {
  width: 85%;
}

.sliderHeader {
  display: flex;
  justify-content: space-between;
}

.sliderMinMax {
  display: flex;
  justify-content: space-between;
}

.sliderComplex .slider {
  width: 100%;
}

.listValue {
  width: 80%;
  margin-left: 20%;
}
.okCancelButton {
  /* background-color: #bfbfb7; */
  color: white;
  padding: 3px 10px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  outline: none;
}

.ok {
  background-color: #3e7c3e;
}

.cancel {
  background-color: #9b4d4d;
}
.detailsClass {
  margin: 15px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.okCancelButton:hover {
  filter: brightness(0.9);
}

input {
  border: 1px solid #ccc;
}

.simple_prop {
  margin: 5px 0;
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.vl {
  border-left: 2px solid black;
  height: 20px;
}

.particleControls > .sliderComplex {
  width: 100%;
}

.disable {
  display: none;
}

.popupProp {
  display: flex;
  justify-content: space-between;
}

.minimumSmultiplier {
  margin: 5px;
  padding: 5px;
}

.okCancelButtonWrapper {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.deleteParameter {
  background-color: #9b4d4d;
  background-color: white;
  color: #9b4d4d;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 700;
  border: 1px solid #9b4d4d;
  cursor: pointer;
  outline: none;
  padding: 0px 6px;
}

.addParameter {
  background-color: white;
  color: #3e7c3e;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 700;
  border: 1px solid #3e7c3e;
  cursor: pointer;
  outline: none;
  padding: 0px 5px;
}

#loadConfig {
  background: #3c59a0;
}

#loadConfig > input[type="file"] {
  display: none;
}

#downloadConfig {
  text-decoration: none;
  background: #3e7c3e;
}

.topButtons {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.cogwheel {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.particleControls .alphaTable,
.particleControls .rotationSpeedTable,
.particleControls .scaleTable,
.particleControls .accelerationXTable,
.particleControls .accelerationYTable,
.particleControls .speedTable {
  width: 100%;
  margin-top: 10px;
}

.canvasController {
  display: flex;
  justify-content: space-around;
  margin-top: 18px;
}

.angleWidth {
  margin-top: 20px;
}
